body {
  margin: 0;
  font-family: 'Roboto',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

@font-face {
  font-family: 'Roboto';
  src: local('../public/fonts/Roboto-Regular.ttf')
}

@font-face {
  font-family: 'Roboto';
  src: local('../public/fonts/Roboto-Italic.ttf')
}

@font-face {
  font-family: 'Roboto';
  src: local('../public/fonts/Roboto-Bold.ttf')
}

.app {
  &-container {
    padding-top: 60px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;

    .input-container {
      max-width: 450px;
      width: 100%;
      margin-bottom: 40px;
    }

    .cards-container {
      display: flex;
      justify-content:space-between;
      max-width: 1600px;
      width: 100%;
      margin: 0 auto;
    }

    .card {
      max-width: 390px;
      width: 100%;
    }
  }
}
