body {
  margin: 0;
  font-family: 'Roboto',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212a3f;
}

@font-face {
  font-family: 'Roboto';
  src: local('../public/fonts/Roboto-Regular.ttf')
}

@font-face {
  font-family: 'Roboto';
  src: local('../public/fonts/Roboto-Italic.ttf')
}

@font-face {
  font-family: 'Roboto';
  src: local('../public/fonts/Roboto-Bold.ttf')
}


.app {
  padding: 30px;
  border-radius: 20px;

  &-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }

  input {
    background-color: #2d364b;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    color: #fff;
    width: 195px;
  }

  input::placeholder {
    color: #fff;
    opacity: .3;
  }

  input:hover::placeholder {
    opacity: .8;
  }
}

.users {
  list-style: none;
  padding: 0;
  margin: 15px 0 20px 0;

  &__item {
    margin: 10px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;

    &-name {
      font-size: 18px;
      margin-bottom: 8px;
    }

    &-email {
      font-size: 16px;
      opacity: 0.4;
    }
  }
}

button {
  padding: 10px;
  outline: none;
  border: 0;
  width: 100%;
  color: #fff;
  background-color: #fe8468;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: .1s;

  &:hover {
    background-color: #fa6f50;
  }

  &:active {
    transform: translateY(4px);
  }
}
